.main__adventages {
  min-height: 665px;
  padding-top: 16px;
  &__title {
    width: 580px;
    margin: 0 auto;

    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: $text-black;
    & span {
      font-family: 'Montserrat-Bold';
    }
  }
  &__subtitle {
    width: 780px;
    margin: 0 auto;
    margin-top: 24px;

    font-size: 20px;
    line-height: 28px;

    text-align: center;
    color: $text-grey;
  }
}