.mobile {
  position: relative;
  width: 321px;
  height: 561px;
  left: 910px;
  top: -308px;
  background-image: url(../../image/main-page/header/phone.svg);
  
  background-repeat: no-repeat;
  background-position: center;
}