.footer {
  height: 57px;
  background: $dark-blue;
  &-text {
    display: flex;
    justify-content: space-around;
    padding-top: 14px;
    &__name {
      width: 270px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 39px;
      color: $text-white;
      text-align: center;
    }
    &__rights {
      width: 270px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 39px;
      color: $text-white;
      text-align: center;
    }
    &__copyrights {
      width: 270px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 39px;
      color: $text-white;
      text-align: center;
    }
  }
}